label, input {
    text-align: right;
    clear: both;
    float:left;
    margin-right: 15px;
    padding-left: 0%;
    margin: 3px;
    font-family: Roboto;
}

footer {
    position: absolute;
    width: 100%;
    bottom: -230px;
    text-align: justify;
    font-family: cursive;
    font-size: 12px;
    color: blue;   
}

input {
    background-color: lightgoldenrodyellow;
    text-align: left;
}

h2, p {
    text-align: left;
}

header {

    background-color: whitesmoke;
    font-family:'Times New Roman';
    text-align: center;
}

body {

    background-color: aliceblue;
}

#boton-enviar {

    background-color:khaki;
    width: 50px;
    text-align: right;
}

table, tr, th, td {
    border: 2px solid black;    
} 

th {
    background-color: lightgoldenrodyellow;
}

td {
    text-align: center;
}
