body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}

.bloque {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.tabla {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.tabla td,
.tabla th {
  text-align: center;
  padding: 8px;
}

.tabla td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.tabla thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.tabla thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.tabla tr:nth-child(even) {
  background: #f8f8f8;
}

ol {
  list-style: none;
  counter-reset: steps;
}
ol li {
  counter-increment: steps;
}
ol li::before {
  content: counter(steps);
  margin-right: 0.5rem;
  background: #324960;
  color: white;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  display: inline-grid;
  place-items: center;
  line-height: 1.2em;
}
ol ol li::before {
  background: #4fc3a1;
}

fieldset {
  margin: 3em auto;
  border: 6px solid #4fc3a1;
}

legend {
  font-weight: bold;
  text-transform: uppercase;
  color: #324960;
}

input:focus,
select:focus {
  background-color: #324960;
}

input:hover,
select:hover {
  background-color: #4fc3a1;
}

h1 {
  text-align: center;
  color: #4fc3a1;
}

h2 {
  text-align: center;
  color: #324960;
}

#direc {
  text-align: left;
  margin-left: 5%;
}
